body{font-family: Arial, Helvetica, sans-serif;}
.footer{ text-align: center; color:DarkBLue; padding: 20px; background-color: beige}
.redClass { color:red }
table {width: 100%; border: 1px solid black}
footer{font-weight: bold; color: rgba(255, 12, 12, 6);}