body{font-family: Arial, Helvetica, sans-serif;}
.footer{ text-align: center; color:DarkBLue; padding: 20px; background-color: rgba(74, 156, 12, 0.1)}
.redClass { color:red }
table {width: 100%; border: 1px solid black}
footer{font-weight: bold;}